<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alimento">
    <!-- T321: Registrar nuevo alimento -->
    <insert id="registrarAlimento" parameterType="pojo.Alimento" useGeneratedKeys="true" keyProperty="idAlimento">
        INSERT INTO alimento (nombre_alimento, porcion, calorias_porcion)
        VALUES (#{nombreAlimento}, #{porcion}, #{caloriasPorcion})
    </insert>

    <!-- T322: Buscar alimentos por nombre -->
    <select id="buscarPorNombre" parameterType="string" resultType="pojo.Alimento">
        SELECT id_alimento AS idAlimento,
               nombre_alimento AS nombreAlimento,
               porcion,
               calorias_porcion AS caloriasPorcion
        FROM alimento
        WHERE nombre_alimento LIKE CONCAT('%', #{value}, '%')
        ORDER BY nombre_alimento
    </select>

    <!-- T323: Obtener alimento por ID -->
    <select id="obtenerPorId" parameterType="int" resultType="pojo.Alimento">
        SELECT id_alimento AS idAlimento,
               nombre_alimento AS nombreAlimento,
               porcion,
               calorias_porcion AS caloriasPorcion
        FROM alimento
        WHERE id_alimento = #{idAlimento}
    </select>

    <!-- T323: Editar alimento -->
    <update id="editarAlimento" parameterType="pojo.Alimento">
        UPDATE alimento
        SET nombre_alimento = #{nombreAlimento},
            porcion = #{porcion},
            calorias_porcion = #{caloriasPorcion}
        WHERE id_alimento = #{idAlimento}
    </update>

</mapper>