<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="consulta">

    <insert id="registrar-consulta" parameterType="pojo.Consulta">

        INSERT INTO consulta
        (
        id_paciente,
        id_medico,
        id_cita,
        fecha_consulta,
        peso,
        talla,
        imc,
        id_dieta,
        observaciones
        )
        VALUES
        (
        #{idPaciente},
        #{idMedico},
        #{idCita},
        #{fechaConsulta},
        #{peso},
        #{talla},
        #{imc},
        #{idDieta},
        #{observaciones}
        )

    </insert>

    <select id="buscar-consultas-paciente"
            parameterType="int"
            resultType="pojo.Consulta">

        SELECT
        id_consulta AS idConsulta,
        id_paciente AS idPaciente,
        id_medico AS idMedico,
        id_cita AS idCita,
        fecha_consulta AS fechaConsulta,
        peso,
        talla,
        imc,
        id_dieta AS idDieta,
        observaciones
        FROM consulta
        WHERE id_paciente = #{idPaciente}
        ORDER BY fecha_consulta DESC

    </select>

    <update id="modificar-consulta"
            parameterType="pojo.Consulta">

        UPDATE consulta
        SET
        peso = #{peso},
        talla = #{talla},
        imc = #{imc},
        id_dieta = #{idDieta},
        observaciones = #{observaciones}
        WHERE id_consulta = #{idConsulta}

    </update>

    <update id="cancelar-consulta"
        parameterType="int">

    UPDATE consulta
    SET cancelada = 1
    WHERE id_consulta = #{idConsulta}
    AND cancelada = 0

    </update>

</mapper>
