<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dieta">

    <!-- T317: INSERT en dieta; total_calorias inicia en 0.00 -->
    <insert id="crearDieta" parameterType="pojo.Dieta" useGeneratedKeys="true" keyProperty="idDieta">
        INSERT INTO dieta (nombre_dieta, total_calorias, observaciones, id_medico)
        VALUES (#{nombreDieta}, 0.00, #{observaciones}, #{idMedico})
    </insert>

</mapper>